body {
  background: #f5f7fa;
}

.card {
  border-radius: 14px;
}

.dashboard-card {
  border-left: 5px solid #0d6efd;
  background: white;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.dashboard-title {
  font-weight: 600;
}

.amount {
  font-size: 1.4rem;
  font-weight: bold;
  color: #198754;
}
